@import '../styles.scss';

:host {
  max-width: $max-screen-width;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;

  .carousel {
    height: 100%;
    display: flex;
    overflow: hidden;
  }
}

.header,
.footer {
  height: 5em;
  background-color: $theme-background-color;
  font-weight: bold;
}
