@import '../../styles.scss';

:host,
.banner {
  min-width: 100%;
  height: 100%;
  user-select: none;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    padding: 1em;
    text-align: center;

    .title {
      font-weight: 900;
      // even bolder to match the screenshot (probably need to search for bolder font instead?..)
      -webkit-text-stroke: 1px $theme-text-primary-color;
      font-size: xxx-large;
    }

    .description,
    .outline-button{
      font-weight: 700;
      font-size: x-large;
    }

    .outline-button {
      $button-height: 3em;

      color: $theme-text-primary-color;
      background-color: transparent;
      border: 4px solid $theme-text-primary-color;
      border-radius: $button-height / 2;
      height: $button-height;
      width: 40%;
      cursor: pointer;
    }

    ::ng-deep {
      .accent {
        color: $theme-text-accent-color;
      }
    }
  }
}
