$max-screen-width: 600px;
$theme-background-color: #0f1e32;
$theme-text-primary-color: white;
$theme-text-accent-color: #ffe868;

body {
  margin: 0;
  height: 100vh;
  font-family: Rubik, Verdana, sans-serif;
  color: $theme-text-primary-color;
  touch-action: pan-x;
}
